@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

<div>
    <table class="table table-striped table-bordered" style="width:100%" id="table">
        <thead>
            <tr>
                <th scope="col">Message</th>
                <th scope="col">Level</th>
                <th scope="col">Hits</th>
                <th scope="col">Module</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />

    <style>

        .flex-container {
            display: flex;
            flex-direction: column;
        }

        .horizontal {
            display: flex;
            flex-direction: row;
        }
    </style>
}

@section Scripts {
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(() => {
            $("table").DataTable({
                ordering: false,
                order: [[0, '']],
                ajax: {
                    url: "@Url.Action("GetEventGroups", "Home")",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "message",
                        render: (data, type, group) => {
                            return `
    <div class="flex-container">
        <div class="horizontal">
            <a href="#">` + group.type + `</a>
            <p>&nbsp;&mdash;&nbsp;</p>
            <p>` + group.rootCause + `</p>
        </div>
        <div>
            <p>` + group.message + `</p>
        </div>
        <div class="horizontal">
            <p>` + group.date + `</p>
            <p>&nbsp;&mdash;&nbsp;</p>
            <p>` + group.age + `</p>
        </div>
    </div>
    `;
                        }
                    },
                    { data: "level" },
                    { data: "hits" },
                    { data: "module"}
                ]
            });
        })
    </script>
}